
<h2 id ="title" class=" mt-5 font-weight-bold ml-4"> Travel the world with Airbnb </h2>
<h4 id="subtitle">Enjoy a new experience</h4>



<div class="main-container">
  <div class="container mt-5">
<% @accommodations.each do |accommodation| %>

<div class="d-inline-flex p-2">
  <div class="card-category shadow p-3 mb-5 bg-white rounded" style="width: 20rem; background-image: url();">
    <img class="card-img-top" src="https://source.unsplash.com/user/erondu/1600x900
" alt="Card image cap">
<div class="mt-5">
 <h5 class="card-title font-weight-bold"><%=  accommodation.accommodation_type %></h5>
    <p class="card-text"> <%= accommodation.price_per_night %> $ per night </p>
    <%= link_to 'View', accommodation_path(accommodation), class: "btn btn-red" %>
</div>

</div>
</div>

<%end%>
</div>

<div
  id="map"
  style="width: 40%;
  height: 130vh; position: sticky; top: 0;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
</div>

