<div class="container">
  <div class="card-trip">
    <%= cl_image_tag @article.photo, height: 300, width: 400, crop: :fill %>
    <div class="card-trip-infos">
      <div>
        <h3><strong><%= @accommodation.accommodation_type %></strong></h3>
        <p>This <%= @accommodation.accommodation_type %> is ideally located in <%= @accommodation.address %>. Fully equipped for your comfort and elegantly decorated!</p>
        <p> <strong>Address</strong> <%= @accommodation.address %></p>
        <p> <%= @accommodation.guest_number %> guest number</p>
        <p> <%= @accommodation.rooms_number %> rooms number</p>
        <p> <%= @accommodation.beds_number %> beds number</p>
        <p> <%= @accommodation.toilet_number %> toilet number</p>
      <h4 class="card-trip-pricing"><%= @accommodation.price_per_night %> €/night</h4>
      <%= link_to 'Make a reservation', new_accommodation_reservation_path(@accommodation), class: "btn btn-red reservation" %>
      </div>
    </div>
  </div>


</div>
