<div class="navbar navbar-expand-sm navbar-light navbar-lewagon navbar-without-padding">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "http://fr.mhec.fr/wp-content/uploads/sites/2/2018/11/airbnb-logo.png" %>
    <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to "Messages", "#", class: "nav-link" %>
        </li>
         <li class="nav-item">
          <%= link_to "Notifications", "#", class: "nav-link" %>
        </li>
        <li class="nav-item dropdown">
          <%= image_tag "https://scontent.fcdg1-1.fna.fbcdn.net/v/t1.0-9/21752132_10214492834453738_3620176526648917973_n.jpg?_nc_cat=111&_nc_ht=scontent.fcdg1-1.fna&oh=96599b690d859caafc94fbd43ed2e4fc&oe=5D606D06", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "Add an accommodation", new_accommodation_path, class: "dropdown-item" %>
            <%= link_to "My Accommodations", my_accommodations_accommodations_path, class: "dropdown-item" %>
            <%= link_to "My upcoming trips", reservations_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Become a host", new_accommodation_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
