<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1433838552652-f9a46b332c40?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80)">
  <div class="centered-title-banner">
    <% if user_signed_in? %>
    <h1>Welcome <%=current_user.first_name%>,</h1>
    <p>Travel around the world and enjoy unique experiences with locals.</p>
    <% else %>
    <h1>Welcome,</h1>
    <p>Travel around the world and enjoy unique experiences with locals.</p>
    <% end %>
  </div>
  <div class = "container width-auto">

  <%= render 'accommodations/searchform', accommodation: @accommodation %>

  </div>
</div>
<div class="cards-container">
  <div class="card">
    <% @home_accommodations.each do |accommodation|  %>
    <div class="card-product">
      <%= cl_image_tag accommodation.photo, height: 300, width: 400, crop: :fill %>
      <div class="card-product-infos">
        <h2><%=  accommodation.accommodation_type %></h2>
        <p><strong><%= accommodation.price_per_night %></strong> $ per night.</p>
        <%= link_to 'See More', accommodation_path(accommodation), class: "btn btn-red"%>
      </div>
    </div>

    <%end%>
  </div>
</div>
