
<h3 class ="page-title"> <strong> Your upcoming Trips </strong></h3>


<% @reservations.each do |reservation| %>


<div class="reservation-card">
     <img  src="https://source.unsplash.com/user/erondu/1600x900">

      <div class="reservation-card-infos" >
        <h2><%= reservation.accommodation.accommodation_type %></h2>
         <p><%= reservation.arrival_date  %></p>
        <p><%= reservation.departure_date %></p>

         </div>

          <div class="but-menu">
              <%= image_tag("dropdown.png") %>

          </div>
      </div>


  <!--

  <%= link_to 'VIEW', accommodation_reservation_path(reservation.accommodation_id, reservation.id), class: "btn btn-red" %> -->



</div>
<%end%>


