<h1>It is time to travel</h1>


<%= simple_form_for [@accommodation, @reservation] do |f| %>
<%= f.input :arrival_date %>
<%= f.input :departure_date %>
<%= f.input :guest_number %>
<%= f.button :submit,  class: 'btn btn-primary' %>
<% end %>
