<div class="main-container-show">
  <div class ="reservation-banner">
    <h3>Your Booking is confirmed</h3>
    <div class ="icon-check" ><%= image_tag("check.png")%>  </div>
    <img id ="background-reservation" src="https://source.unsplash.com/user/erondu/1600x900" >

  </div>

   <p> Please find Your booking details below: </p>
   <h3 id ="reservation-type"><%= @reservation.accommodation.accommodation_type %></h3>
   <h6> <strong>Address: </strong> <%= @reservation.accommodation.address %></h6>
   <h6> <strong>Status: </strong> <%= @reservation.status %></h6>
  <div class="details-reservation d-flex justify-content-around ">



    <div class= "card_one d-flex">
       <div>
       <h5> <strong>Arrival date </strong> </h5>
       <p><%= @reservation.arrival_date %></p>
       </div>
      <div class ="icon-bar" ><%= image_tag("divider.png")%>  </div>

   </div>


     <div class="card_two d-flex">
        <div>

        <h5> <strong> Departure date</strong>  </h5>
        <p><%= @reservation.departure_date %></p>
        </div>
         <div class ="icon-bar" ><%= image_tag("divider.png")%>  </div>

      </div>

    <div class="card_three">
      <h5> <strong>Total price</strong>  </h5>
      <p><%= @reservation.total_price %></p>


    </div>
</div>
     <div class="d-flex" id="footer-reservation">
     <%= link_to 'Modify',new_accommodation_reservation_path, class: "btn btn-red" %>
     <a class= "btn btn-red" href="https://www8.hp.com/fr/fr/home.html"> Print</a>
    </div>
</div>
